<a href="https://colab.research.google.com/github/DarnosAeth/IntroductionToProgramming2019-2020/blob/master/02_Python_Lists_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structure

Until now we have seen basic variables and operations. However, commonly programs work with several variables at the same time, not just one or two. 

To facilitate these operations, data structures were created. 

Data structures are collection of variables and items, organized together in an ordered fashion, as to ease their manipulation. 

In Python, we four different kinds of data structures: lists, tuples, dictionaries and sets. 

• Lists can contain zero or more elements of different types. They are mutable, therefore their elements can be easily modifiedorexchanged. 

• Tuples can contain zero or more elements of different types. At variance with lists, tuples are immutable. 

• Dictionaries are similar to lists, but the order of the items does not matter and they cannot be selected by their offset. Instead, each element has a unique key associated to its value. Dictionaries are mutable, but can be composed of immutable elements, like tuples. 

• Sets are dictionaries containing only keys with no values. They are usually employed to keep track of some variables or otheritems, independently of their value. We will not talk about them in these lessons.

# Lists

Lists are good for keeping track of things by their order, especially when the order and contents might change. Unlike strings, lists are mutable. You can change a list in place, add new elements, and delete or overwrite existing elements. 

A list is made from zero or more elements, separated by commas, and surrounded by square brackets

In [0]:
empty_list=[]
empty_list

[]

In [0]:
weekdays=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

Since lists do not care about the uniqueness of their elements (unlike dictionaries), the same value can occur more than once.

In [0]:
weekdays= ['Monday', 'Monday', 'Monday', 'Monday', 'Monday'] 
weekdays

['Monday', 'Monday', 'Monday', 'Monday', 'Monday']

Another way to create a list is by using the list() function.

In [0]:
empty_list=list()
empty_list

[]

However, the list() function takes just one argument.

In [0]:
 weekdays=list('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

TypeError: ignored

The list() function can also be used to convert other data types to list.

In [0]:
 list('Monday')

['M', 'o', 'n', 'd', 'a', 'y']

The split() function shown previously creates a list of object, too.

In [0]:
bat='NaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNa, Batman!' 
bat.split(',')

['NaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNa', ' Batman!']

Since a list can contain empty objects, something like this can happen, too.

In [0]:
splitme='a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

Furthermore, it is possible to convert a list in a string by using the join() function. We have already seen this previously.

In [0]:
monday=['M','o','n','d','a','y']
''.join(monday)

'Monday'

As we can see here, the join() function is the opposite of the split() function.

Since lists are ordered, it is possible to return an element of a list by using its offset. This approach is similar to the one used with strings.

In [0]:
weekdays=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekdays[0]

'Monday'

In [0]:
weekdays[3]

'Thursday'

In [0]:
weekdays[-2]

'Thursday'

If the offset is out of bound, i.e. your list is too small, you will receive an exception.

In [0]:
weekdays[5]

IndexError: ignored

In [0]:
weekdays[-6]

IndexError: ignored

Lists can also contain elements of different type. Including other lists.

In [0]:
small_birds=['hummingbird', 'finch']
extinct_birds=['dodo', 'passenger pigeon', 'Norwegian Blue'] 
carol_birds=[3, 'French hens', 2, 'turtledoves']
all_birds=[small_birds, extinct_birds, 'macaw', carol_birds] 
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 'macaw',
 [3, 'French hens', 2, 'turtledoves']]

Each list can be selected using its offset:

In [0]:
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

By providing two offsets, it is possible to obtain a single element of a list of lists:

In [0]:
all_birds[1][0]

'dodo'

Or change it, because lists are mutable:

In [0]:
all_birds[1][0]='pigeon'
all_birds[1][0]

'pigeon'

Another way to get an item from a list, or more than one, is by using the slice function.

You may have noticed that lists and strings share some functions. Here, the slice function works in the same way you previously saw when working with strings.

In [0]:
weekdays=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 
weekdays[:2]

['Monday', 'Tuesday']

In [0]:
weekdays[::2]

['Monday', 'Wednesday', 'Friday']

In [0]:
weekdays[::-2]

['Friday', 'Wednesday', 'Monday']

In [0]:
weekdays[2::-3]

['Wednesday']

In [0]:
weekdays[-2:-1]

['Thursday']

Like with strings, lists can be combined by using the + symbol.

In [0]:
weekdays=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekend =['Saturday', 'Sunday']
weekdays+weekend

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

Alternatively, it is possible to use the =+ notation, changing the values of the first list.

In [0]:
weekdays+=weekend 
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

A similar result can be achieved using the function extend().

In [0]:
weekdays=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekdays.extend(weekend)
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

By using the append() function, instead, the second list can be added as an item of the first one.

In [0]:
weekdays=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekdays.append(weekend)
weekdays

['Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 ['Saturday', 'Sunday']]

Other than combining lists, there are several ways that allow to add items to a list (or remove them).

In [0]:
pokemon=['Articuno', 'Zapdos', 'Moltres']
pokemon.append('Mewtwo')
pokemon

['Articuno', 'Zapdos', 'Moltres', 'Mewtwo']

• Insert(): adds an item at a certain position, specified by offset. If the offset provided is too big, the item will be automatically added at the end of the list

In [0]:
pokemon.insert(0,'Mew')
pokemon

['Mew', 'Articuno', 'Zapdos', 'Moltres', 'Mewtwo']

• Remove(): deletes an item from the list, without taking into account its offset

In [0]:
pokemon.remove('Mew')
pokemon

['Articuno', 'Zapdos', 'Moltres', 'Mewtwo']

• Pop(): gets an item and deletes it from the list, based on the offset provided. If no offset is provided, it will use -1, meaning that it will remove the last item in the list. Pop(0) instead will get and remove the first item in the list

In [0]:
pokemon.pop()

'Mewtwo'

In [0]:
pokemon

['Articuno', 'Zapdos', 'Moltres']

When working with big lists, being able to find a certain item is extremely useful. The index() function will return the offset of a certain item in the list, if present.

In [0]:
pokemon=['Articuno', 'Zapdos', 'Moltres']
pokemon.index('Zapdos')

1

In case the item is not present in the list, you will receive an exception.

In [0]:
pokemon.index('Mew')

ValueError: ignored

To avoid receiving an exception, it is possible to see if the desired item is present in the list before running the index function. This check will return a True result if the item is present, whereas a False will be printed otherwise.

In [0]:
'Articuno' in pokemon

True

In [0]:
'Mew' in pokemon

False

Alternatively, it is possible to check the presence of an item by using the count() function.

In [0]:
pokemon.count('Mew')

0

In [0]:
pokemon.count('Zapdos')

1

Sometimes having the ability to sort a list may be convenient. Python has two functions that allow you to sort items in a list: sort() and sorted(). 

Sort() simply sorts the list.

In [0]:
pokemon=['Articuno', 'Zapdos', 'Moltres']
pokemon.sort()
pokemon

['Articuno', 'Moltres', 'Zapdos']

Sorted() instead creates a sorted copy of the original list.

In [0]:
pokemon=['Articuno', 'Zapdos', 'Moltres']
sorted_pokemon=sorted(pokemon)
pokemon

['Articuno', 'Zapdos', 'Moltres']

In [0]:
sorted_pokemon

['Articuno', 'Moltres', 'Zapdos']

Sorted() and sort() can rearrange the items of a list only when they are of the same type, numbers being the only exception. When sorting numbers, Python automatically converts floats and integers to the same type, so they can be sorted together.

In [0]:
numbers=[2, 1, 4.0, 3]
numbers.sort()
numbers

[1, 2, 3, 4.0]

In [0]:
numbers=[2, 1, 4.0, 3]
numbers.sort(reverse=True)
numbers

[4.0, 3, 2, 1]

Another important function in Python is copy(), which allows to copy the values of a list to a new one.

In [0]:
pokemon=['Articuno', 'Zapdos', 'Moltres']
legendary=pokemon.copy()
legendary

['Articuno', 'Zapdos', 'Moltres']

While this function may seem intuitive and extremely simple, actually it is very powerful.

In [0]:
pokemon=['Articuno', 'Zapdos', 'Moltres']
legendary=pokemon.copy()
copy = pokemon
pokemon.sort()
pokemon

['Articuno', 'Moltres', 'Zapdos']

In [0]:
copy

['Articuno', 'Moltres', 'Zapdos']

In [0]:
legendary

['Articuno', 'Zapdos', 'Moltres']

If we instead sort copy...

In [0]:
pokemon=['Articuno', 'Zapdos', 'Moltres']
legendary=pokemon.copy()
copy = pokemon
copy.sort()
copy

['Articuno', 'Moltres', 'Zapdos']

In [0]:
pokemon

['Articuno', 'Moltres', 'Zapdos']

In [0]:
legendary

['Articuno', 'Zapdos', 'Moltres']

Both the ‘copy’ and ‘pokemon’ lists were sorted, while the ‘legendary’ one did not.

This happens because the copy() function creates a brand new list containing the same values of the original one. 

Instead, the = symbol assigns to the variable ‘copy’ the same list of ‘pokemon’, when the list is modified, this change is reflected on both variables.

# Tuples

Tuples are sequences of arbitrary items, but unlike lists, they are immutable. This means that you can’t add, delete, or change items after the tuple is defined. 

A touple is made by typing items separated by commas, with or without parentheses.

In [0]:
pokemon=('Articuno', 'Zapdos', 'Moltres')
pokemon

('Articuno', 'Zapdos', 'Moltres')

In [0]:
pokemon='Articuno', 'Zapdos', 'Moltres'
pokemon

('Articuno', 'Zapdos', 'Moltres')

An empty tuple is created by using ().

In [0]:
empty_tuple=()
empty_tuple

()

Tuples let you assign multiple variable at once. This practice is called tuple unpacking.

In [0]:
pokemon='Articuno', 'Zapdos', 'Moltres'
a,b,c=pokemon
a

'Articuno'

It is possible to convert another data type in a tuple by using the tuple() function

In [0]:
pokemon=['Articuno', 'Zapdos', 'Moltres']
tuple(pokemon)

('Articuno', 'Zapdos', 'Moltres')

# Dictionaries

A dictionary is similar to a list, but the order of items doesn’t matter, and they aren’t selected by an offset such as 0 or 1. 

Instead, you specify a unique key to associate with each value. 

This key is often a string, but it can actually be any of Python’s immutable types: boolean, integer, float, tuple or string. 

Dictionaries are mutable, so you can add, delete, and change their key-value elements. 

To create a dictionary, you place curly brackets ({}) around comma-separated key : value pairs. The simplest dictionary is an empty one, containing no keys or values at all

In [0]:
empty_dict={}
empty_dict

{}

This instead is an example of a small dictionary of starter pokemons:

In [0]:
starters={
    'bulbasaur':'Bulbasaur resembles a small, squatting dinosaur that walks on four legs.',
    'charmander':'Charmanderis a small, bipedal, dinosaur-like Pokémon',
    'squirtle':'Squirtleis a small, light-blue Pokémon with an appearance similar to a turtle',
    }
starters

{'bulbasaur': 'Bulbasaur resembles a small, squatting dinosaur that walks on four legs.',
 'charmander': 'Charmanderis a small, bipedal, dinosaur-like Pokémon',
 'squirtle': 'Squirtleis a small, light-blue Pokémon with an appearance similar to a turtle'}

Another way of creating a dictionary is by converting sequences composed of two values via the dict() function. The first value of each sequence is used as key, while the second is used as value.

In [0]:
 lol=[ ['a', 'b'], ['c', 'd'], ['e', 'f'] ]
 dict(lol)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [0]:
 los=[ 'ab', 'cd', 'ef']
 dict(los)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [0]:
lot=[ ('a', 'b'), ('c', 'd'), ('e', 'f') ]
dict(lot)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [0]:
tos=( 'ab', 'cd', 'ef')
dict(tos)

{'a': 'b', 'c': 'd', 'e': 'f'}

Adding or modifying dictionaries is pretty simple. Since there are no offsets, we work with keys. If a new key is defined, its corresponding value is added to the dictionary. If the key already exists, its value is updated, since key must be unique.

In [0]:
starters = { 
    'bulbasaur':'grass-poison 1st generation',
    'charmander':'water 1st generation',
}
starters

{'bulbasaur': 'grass-poison 1st generation',
 'charmander': 'water 1st generation'}

We are missing squirtleand charmanderis listed as a water pokemon, instead of fire. To add squirtleand correct the value of charmanderwe can do as follows:

In [0]:
starters['squirtle']='water 1st generation'
starters

{'bulbasaur': 'grass-poison 1st generation',
 'charmander': 'water 1st generation',
 'squirtle': 'water 1st generation'}

In [0]:
starters['charmander']='fire 1st generation'
starters

{'bulbasaur': 'grass-poison 1st generation',
 'charmander': 'fire 1st generation',
 'squirtle': 'water 1st generation'}

The update() function allows to copy the keys and values of a dictionary into another.

In [0]:
starters1 = {
    'bulbasaur': 'grass-poison 1st generation',
    'charmander': 'fire 1st generation',
    'squirtle': 'water 1st generation',
}
starters1

{'bulbasaur': 'grass-poison 1st generation',
 'charmander': 'fire 1st generation',
 'squirtle': 'water 1st generation'}

In [0]:
starters2 = {
    'chikorita': 'grass-poison 2st generation',
    'cyndaquil': 'fire 2st generation',
    'totodile': 'water 2st generation',
}
starters2

{'chikorita': 'grass-poison 2st generation',
 'cyndaquil': 'fire 2st generation',
 'totodile': 'water 2st generation'}

In [0]:
starters1.update(starters2)
starters1

{'bulbasaur': 'grass-poison 1st generation',
 'charmander': 'fire 1st generation',
 'chikorita': 'grass-poison 2st generation',
 'cyndaquil': 'fire 2st generation',
 'squirtle': 'water 1st generation',
 'totodile': 'water 2st generation'}

If the two dictionaries have the same key, the value of the second dictionary overwrites the value of the first one.

Python has several ways of returning the values of a dictionary, depending on the case. The most common one consist in specifying the key of an item to get its value.

In [0]:
starters = {
    'bulbasaur': 'grass-poison 1st generation',
    'charmander': 'fire 1st generation',
    'squirtle': 'water 1st generation',
}
starters['squirtle']

'water 1st generation'

If the key is not present in the dictionary, an exception is returned.

In [0]:
starters['totodile']

KeyError: ignored

To avoid this kind is situation, it is possible to test the dictionary for a certain key, similar to what we already did withstrings.

In [0]:
'squirtle' in starters

True

In [0]:
'totodile' in starters

False

Another way of returning a value of a dictionary is to use the special dictionary get() function. 

The get() function returns the value of a key, if present, or none.

In [0]:
starters.get('totodile')

In [0]:
starters.get('squirtle')

'water 1st generation'

The get() function also accepts a second value, that is returned if a key is not present inside the dictionary

In [0]:
starters.get('totodile', 'Nothing found')

'Nothing found'

Instead of using the value of a single key, we can also get all the keys present inside a dictionary by using the keys() function.

In [0]:
starters.keys()

dict_keys(['bulbasaur', 'charmander', 'squirtle'])

The dict_keys() function is a special function employed into Python 3. It creates an iterable views of the keys, as a tuple. Since it often is convenient to have it as a list, the dict_keys() view can be converted by using the list() function.

In [0]:
 list(starters.keys() )

['bulbasaur', 'charmander', 'squirtle']

In the same way, it is also possible to get all the values in a dictionary via the values() function.

In [0]:
 list( starters.values() )

['grass-poison 1st generation', 'fire 1st generation', 'water 1st generation']

Lastly, it is also possible to get all the key-value pairs by using the items() function.

In [0]:
list( starters.items() )

[('bulbasaur', 'grass-poison 1st generation'),
 ('charmander', 'fire 1st generation'),
 ('squirtle', 'water 1st generation')]

Dictionary manipulation obviously also includes the ability of removing the key-value pairs. 

This is done by using the ‘del’ function, which requires to specify the key of the pair we want to remove.

In [0]:
starters = {
    'bulbasaur': 'grass-poison 1st generation',
    'charmander': 'fire 1st generation',
    'squirtle': 'water 1st generation',
}
del starters['squirtle']
starters

{'bulbasaur': 'grass-poison 1st generation',
 'charmander': 'fire 1st generation'}

If we try to delete a key that is not present inside the dictionary, an exception is returned.

If we want to delete all items, the clear() function is exactly what we need.

In [0]:
starters.clear()
starters

{}